*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card{
    height: 580px;
    width: 360px;
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
}


.card img{
    height: 80%;
    width: 100%;
    border-radius: 20px;
}

.card h2{
    font-weight: bold;
    font-size: 1.5rem;
}

.card p{
    font-size: 1.3em;
    margin-top: 20px;
}